main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.disabled {
  cursor: default;
  opacity: 0.6;
}

.selected-button {
  background-color: teal;
  color: white;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 0.3em;
  }
  
  .tile {
    border: 3px solid black;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }

  .no-transition {
    transition: none;
  }

  .tile-interactable {
    cursor: pointer;
  }

  .tile-fixed {
    cursor: default;
  }

  .tile-corner {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .color-option-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
  }
  
  .color-option {
    width: 50px;
    height: 50px;
  }