main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: white;
    color: black;
}



.header {
  display: flex;
  flex-direction: column;
}

.header-top-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.huedoku-logo {
  width: 12rem;
}

.score-counter {
  margin-left: auto;
  font-weight: 500;
}


.header-bottom-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.difficulty-div {
  border: 2px solid whitesmoke;
  border-radius: 8px;
}

.new-puzzle-reset-div {
  margin-left: auto;
  display: flex;
}

.new-puzzle-button {
  margin-left: 0.5rem;
}

.help-div {
  margin-left: 0.3rem;
}

.help-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.tutorial-modal h2 {
  font-weight: 700;
 }

.mantine-Modal-content {
  padding: 0.5rem;
}

.mantine-Modal-content p {
  margin-bottom: 1rem;
}

.confirmation-div {
  margin-top: 1rem;
}

.confirmation-button {
  border-radius: 8px;
}

.confirmation-button:first-child {
  margin-right: 0.5rem;
}



.disabled {
  cursor: default !important;
  pointer-events: none !important;
  opacity: 0.5;
}

.mantine-Button-root {
  --button-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.minimal-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
}

.minimal-button:hover {
  background-color: black;
  color: white;
}

.filled-button {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.filled-button:hover {
  background-color: white;
  color: black;
}

.difficulty-button {
  background-color: white;
  color: black;
  border-radius: 8px;
}

.difficulty-button:hover {
  background-color: whitesmoke;
  color: black;
}

.selected-button {
  background-color: black;
  color: white; 
  border-radius: 8px;
  cursor: default;
  pointer-events: none;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }
  
  .tile {
    position: relative;
    border: .07rem solid black;
    width: 4.5rem;
    height: 4.5rem;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }

  /* Outline each 3x3 grid within the 9x9 */
  .tile:nth-child(9n+1) {
    border-left: .34rem solid black;;
  }
  .tile:nth-child(9n+4),
  .tile:nth-child(9n+7) {
    border-left: .17rem solid black;
  }
  .tile:nth-child(9n) {
    border-right: .34rem solid black;
  }
  .tile:nth-child(9n+3),
  .tile:nth-child(9n+6) {
    border-right: .17rem solid black;
  }
  .tile:nth-child(-n+9) {
    border-top: .34rem solid black;
  }
  .tile:nth-child(n+28):nth-child(-n+36),
  .tile:nth-child(n+55):nth-child(-n+63) {
    border-top: .17rem solid black;
  } 
  .tile:nth-child(n+73) {
    border-bottom: .34rem solid black;
  }
  .tile:nth-child(n+19):nth-child(-n+27),
  .tile:nth-child(n+46):nth-child(-n+54) {
    border-bottom: .17rem solid black;
  }

  /* Round corners of board */
  .tile:nth-child(1) {
    border-top-left-radius: 8px;
  }
  .tile:nth-child(9) {
    border-top-right-radius: 8px;
  }
  .tile:nth-child(73) {
    border-bottom-left-radius: 8px;
  }
  .tile:nth-child(81) {
    border-bottom-right-radius: 8px;
  }

  .no-transition {
    transition: none;
  }

  .tile-interactable {
    cursor: pointer;
  }

  .tile-fixed {
    cursor: default;
  }

  .tile-solved {
    cursor: default !important;
    pointer-events: none !important;
  }

  .repeated-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .repeated-marker {
    color: red;
  }

  .tile-corner {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .color-option-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.3em;
  }
  
  .color-option {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }

  .reset-tile-button {
    margin-top: 0.5rem;
  }