main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: white;
}




.header {
  display: flex;
  flex-direction: column;
}

.huedoku-logo {
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.difficulty-and-reset-div {
  display: flex;
}

.difficulty-div {
  border: 2px solid whitesmoke;
  margin-right: 2rem;
}

.puzzle-solved-div {
  display: flex;
}

.puzzles-solved-span {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alert-header {
  display: flex;
  align-items: center;
}

.mantine-Alert-wrapper {
  display: flex;
  align-items: center;
}



.disabled {
  cursor: default !important;
  pointer-events: none !important;
  opacity: 0.5;
}

.minimal-button {
  background-color: black;
  color: white;
  border-radius: 0px;
}

.minimal-button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.difficulty-button {
  background-color: white;
  color: black;
  border-radius: 0px;
}

.difficulty-button:hover {
  background-color: whitesmoke;
  color: black;
}

.selected-button {
  background-color: black;
  color: white; 
  border-radius: 0px;
  cursor: default;
  pointer-events: none;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 0.1em;
  }
  
  .tile {
    position: relative;
    border: 3px solid black;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }

  .no-transition {
    transition: none;
  }

  .tile-interactable {
    cursor: pointer;
  }

  .tile-fixed {
    cursor: default;
  }

  .tile-solved {
    cursor: default !important;
    pointer-events: none !important;
  }

  .repeated-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .repeated-marker {
    color: red;
  }

  .tile-corner {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .color-option-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
  }
  
  .color-option {
    width: 50px;
    height: 50px;
  }